@model ES_ExercicioPratico.Models.Prize

@{
    ViewData["Title"] = "Prémios";
}

<h1>Prémios</h1>

<form asp-action="Prizes">
    <div class="form-group">
        <label asp-for="SelectedDate" class="control-label"></label>
        <input type="date" asp-for="SelectedDate" class="form-control" />
        <span asp-validation-for="SelectedDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
    </div>
</form>

@if (Model.keys is not null && Model.keys.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    1
                </th>
                <th>
                    2
                </th>
                <th>
                    3
                </th>
                <th>
                    4
                </th>
                <th>
                    5
                </th>
                <th>
                    1 ⭐
                </th>
                <th>
                    2 ⭐
                </th>
                <th>
                    Data
                </th>
                <th>
                    Utilizador
                </th>
                <th>
                    Chave aleatória?
                </th>
                  <th>
                    Nº certos
                </th>
                  <th>
                    Estrelas certas
                </th>
                <th>
                    Prémio
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.keys)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Star1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Star2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRandomKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrectNumbers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorrectStars)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prize)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <a asp-action="Index">Voltar</a>
</div>
